[submodule "ASF-ui"]
	path = ASF-ui
	url = https://github.com/JustArchiNET/ASF-ui.git
	branch = main
[submodule "wiki"]
	path = wiki
	url = https://github.com/JustArchiNET/ArchiSteamFarm.wiki.git
	branch = master
[submodule "ArchiSteamFarm.OfficialPlugins.Worker"]
	path = ArchiSteamFarm.OfficialPlugins.Worker
	url = git@github.com:uudog88/WorkerPlugin.git
